---
import { SITE_TITLE, SITE_EMAIL } from "../consts.js";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts.js";
import {SITE_DESCRIPTION} from "../consts.js";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">{SITE_DESCRIPTION}</div>
          </div>

          <div class="item products">
            <div class="item-title">导航</div>
            <a href="/" target="_blank">首页</a>
            <a href="/archive" target="_blank">目录</a>

          </div>

          <div class="item community">
            <div class="item-title">仓库</div>

            <a href="https://github.com/xieyumc/AppleBlog" target="_blank">Github</a>

          </div>
          
          <div class="item resources">
            <div class="item-title">作者</div>
            <a href="https://github.com/xieyumc" target="_blank">宇宇</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
          <a href="https://github.com/xieyumc/AppleBlog">AppleBlog</a>
        </div>
      </div>
    </div>
  </div>
</div>
