---
const { theme } = Astro.props;

import { config } from '../consts.js';

export const SITE_TITLE = config.SITE_TITLE;
export const SITE_DESCRIPTION = config.SITE_DESCRIPTION;

export const Footer1_Title = config.Footer1_Title;
export const Footer1_Website1_title = config.Footer1_Website1_title;
export const Footer1_Website1_url = config.Footer1_Website1_url;
export const Footer1_Website2_title = config.Footer1_Website2_title;
export const Footer1_Website2_url = config.Footer1_Website2_url;

export const Footer2_Title = config.Footer2_Title;
export const Footer2_Website1_title = config.Footer2_Website1_title;
export const Footer2_Website1_url = config.Footer2_Website1_url;

export const Footer3_Title = config.Footer3_Title;
export const Footer3_Website1_title = config.Footer3_Website1_title;
export const Footer3_Website1_url = config.Footer3_Website1_url;


const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">

          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">{SITE_DESCRIPTION}</div>
          </div>

          <div class="item products">
            <div class="item-title">{Footer1_Title}</div>
            <a href={ Footer1_Website1_url } target="_blank">{Footer1_Website1_title}</a>
            <a href={Footer1_Website2_url} target="_blank">{Footer1_Website2_title}</a>
          </div>

          <div class="item community">
            <div class="item-title">{Footer2_Title}</div>

            <a href={ Footer2_Website1_url} target="_blank">{ Footer2_Website1_title }</a>

          </div>
          
          <div class="item resources">
            <div class="item-title">{Footer3_Title}</div>
            <a href={ Footer3_Website1_url} target="_blank">{ Footer3_Website1_title }</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_TITLE}`}
          <a href="https://github.com/xieyumc/AppleBlog">AppleBlog</a>
        </div>
      </div>
    </div>
  </div>
</div>
